.status-options {
  width: 100%;
  max-width: 600px;
  margin: 20px 0;
}

.col {
  padding: 0 10px 0 0;
}

.btn-status {
  font-size: 10px !important;
  width: 100%;
}

.ticket {
  margin-bottom: 10px;
}
