<div class="container-fluid">
  <div class="row status-options">
    <div class="col">
      <button
        class="btn btn-block btn-primary btn-status"
        (click)="changeStatus()"
      >
        All Tickets
      </button>
    </div>
    <div class="col">
      <button
        class="btn btn-block btn-warning btn-status"
        (click)="changeStatus('Open')"
      >
        Open Tickets
      </button>
    </div>

    <div class="col">
      <button
        class="btn btn-block btn-success btn-status"
        (click)="changeStatus('Resolved')"
      >
        Resolved Tickets
      </button>
    </div>

    <div class="col">
      <a class="btn btn-block btn-info btn-status" href="/new-ticket">
        + Add Ticket
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-9 p-2">
      <div *ngFor="let t of tickets" class="card ticket">
        <div class="card-body">
          <h5 class="card-title">{{ t.title }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ t.createdOn }}</h6>
          <p class="card-text">
            {{ t.description }}
          </p>
          <a
            [routerLink]="['/view-ticket', t._id]"
            class="btn btn-primary card-link"
            >View Ticket</a
          >
          <a
            [routerLink]="['/edit-ticket', t._id]"
            class="btn btn-primary card-link"
            >Edit Ticket</a
          >
          <button
            *ngIf="t.status == 'Open'"
            class="btn btn-success card-link"
            (click)="resolveTicket(t._id)"
          >
            Resolve Ticket
          </button>
          <button
            *ngIf="t.status == 'Resolved'"
            class="btn btn-warning card-link"
            (click)="openTicket(t._id)"
          >
            Open Ticket
          </button>
          <button
            class="btn btn-danger card-link"
            (click)="deleteTicket(t._id)"
          >
            Delete Ticket
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
