<div class="container-fluid">
  <section class="register-box">
    <h1>Log In</h1>
    <form [formGroup]="registerForm">
      <div class="form-group">
        <label for="username">Username</label>
        <input
          type="username"
          class="form-control"
          id="username"
          placeholder="Enter username"
          formControlName="username"
        />
      </div>

      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="name"
          class="form-control"
          id="name"
          placeholder="Enter name"
          formControlName="name"
        />
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="Enter email"
          formControlName="email"
        />
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          placeholder="Password"
          formControlName="password"
        />
      </div>

      <button (click)="registerUser()" class="btn btn-primary">Submit</button>
    </form>
  </section>
</div>
