<div class="container-fluid">
  <div *ngIf="ticket" class="view-ticket">
    <h1>{{ ticket.title }}</h1>
    <p><b>Description:</b> {{ ticket.description }}</p>
    <p><b>Status:</b> {{ ticket.status }}</p>
    <p><b>Created On:</b> {{ ticket.createdOn }}</p>
    <!-- <p><b>Created By:</b> {{ ticket.createdBy["0"]["Name"] }}</p> -->
    <p>
      <b>Assigned To:</b>
      {{ formatStringTuple(ticket.assignedTo) }}
    </p>

    <br />

    <h2>Comments:</h2>
    <ul *ngFor="let c of ticket.comments">
      <li>
        <p>{{ c[0] }}</p>
        <p>{{ c[1] }}</p>
      </li>
    </ul>

    <form>
      <input
        type="text"
        class="form-control"
        placeholder="Add a comment..."
        id="comment-box"
      />
      <button class="btn btn-primary">Post Comment</button>
    </form>
  </div>
</div>
